    </div>
    <script src='/vendors/jquery/dist/jquery.min.js'></script>
    <script src='/vendors/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='/vendors/js-url/url.min.js'></script>
    <script src='/javascripts/app.js'></script>
  </body>
</html>
