<!DOCTYPE html>
<html>
  <head>
    <title>ブログ</title>
    <link rel='stylesheet' href='/vendors/bootstrap/dist/css/bootstrap.min.css' />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-6">&nbsp;
            </div>
            <div class="col-md-6">
              <% if (typeof currentUser == 'undefined') { %>
                <a href="/login" class="btn btn-warning">ログイン</a>
                <a href="/register" class="btn btn-info">ユーザ登録</a>
              <% } else { %>
                <%= currentUser.userName %> さん
                <a href="/posts/new" class="btn btn-info">新規投稿</a>
                <a href="/logout" id="logout" class="btn btn-warning">ログアウト</a>
              <% } %>
            </div>
          </div>
          <% for (var i = 0; i < posts.length; i++) { %>
            <% var post = posts[i]; %>
            <div class="row">
              <div class="col-md-10">
                <h2><a href="/posts/<%= post.objectId %>"><%= post.title %></a>
                  <% if (!post.public) {%>
                    <span class="label label-default">未公開</span>
                  <% } %>
                </h2>
              </div>
              <div class="col-md-2">
                <% if (post.editable()) {%>
                  <a href="/posts/<%= post.objectId %>/edit" class="btn btn-default">編集</a>
                <% } %>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
    <script src='/vendors/jquery/dist/jquery.min.js'></script>
    <script src='/vendors/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='/javascripts/app.js'></script>
  </body>
</html>