<%- include('../shared/header', {title: "ログイン"}) %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>ログイン</h1>
    <p>IDとパスワードを入力してください</p>
    <form id="login_form">
      <div class="form-group">
        <label for="inputUserName">ユーザID</label>
        <input type="text" class="form-control" id="inputUserName" name="userName" placeholder="ユーザID" />
      </div>
      <div class="form-group">
        <label for="inputPassword">パスワード</label>
        <input type="password" id="password" class="form-control" name="password" />
      </div>
      <button type="submit" class="btn btn-default">ログイン</button>
    </form>
  </div>
</div>
<%- include('../shared/footer') %>
