<%- include('../shared/header', {title: "新規投稿"}) %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>新規投稿</h1>
    <p>新しいブログ記事を書きます</p>
    <form id="post_form">
      <%- include('form', {post: {}}) %>
    </form>
  </div>
</div>
<%- include('../shared/footer') %>
