<!DOCTYPE html>
<html>
  <head>
    <title>New Post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New Post</h1>
    <p>Write something</p>
  </body>
</html>
