<!DOCTYPE html>
<html>
  <head>
    <title>ブログ <%= post.title %></title>
    <link rel='stylesheet' href='/vendors/bootstrap/dist/css/bootstrap.min.css' />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <a href="/">Top</a>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <h1><%= post.title %></h1>
          <div>
            <%= post.body %>
          </div>
        </div>
      </div>
    </div>
    <script src='/vendors/jquery/dist/jquery.min.js'></script>
    <script src='/vendors/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='/javascripts/app.js'></script>
  </body>
</html>
